.jumbotron {

    /* background-color: transparent; */
    text-align: center;
  
  }
  
  
  
  body {
  
      background: url("./images/Beach2.jpg") no-repeat center center fixed;
  
       background-size: cover;
      color: green;
       
    }
  
  a{
    color: green;
  }
  .caption{
      text-align: center;
  }
  
  .panel {
      
      background-color: rgba(245, 245, 245, 0.8);
  
  }
  
  
  
  #imagepreview {
  
      display: block;
  
      margin-left: auto;
  
      margin-right: auto;
  
  }
  
  
  
  .caption {
  
    font-size: 24px;
  
    font-style: italic;
  
    font-variant: small-caps;
  
  }